{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-unused-vars": "error",
        "no-console": "warn",
        "no-undef": "error",
        "no-unused-expressions": "error",
        "no-unreachable": "error"
    },
    "env": {
        "browser": true,
        "es2022": true,
        "node": true
    },
    "globals": {
        "process": "readonly"
    },
    "ignorePatterns": [
        "dist/*",
        "node_modules/*"
    ]
}